.standard-mode {
	display: grid;
	gap: 1rem;

	.filters {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
	}

	.filter-values {
		display: flex;
		justify-content: center;
		gap: 0.75rem;
		color: var(--secondary);
	}

	.filter {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		gap: 0.3rem;
		// background-color: var(--alternate);
		border-radius: 10px;
		color: var(--secondary);
		border: 2px solid var(--secondary);

		&:hover {
			color: var(--primary);
			border: 2px solid var(--primary);
			cursor: pointer;
		}

		&--highlighted {
			color: var(--primary);
			border: 2px solid var(--primary);
		}

		&__value {
			font-size: 28px;
			font-weight: bold;

			&:hover {
				cursor: pointer;
				color: var(--primary);
			}

			&--highlighted {
				color: var(--primary);
			}
		}
	}
}
