.standard-mode {
    display: grid;
    gap: 1rem;

    .filter-values {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .filter,
    .filter__value {
        padding: 1rem;
        background-color: var(--alternate);
        border-radius: 15px;
        color: var(--font-primary);
        border: 2px solid var(--secondary);

        &:hover {
            background-color: var(--font-primary);
            color: var(--bg-primary);
            cursor: pointer;
        }

        &--highlighted {
            background-color: var(--primary);
            color: var(--bg-primary);
        }
    }
}

.filters {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
