.text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--alternate);
	color: var(--secondary);
	padding: 0.5rem;
	border-radius: 15px;
	width: 45vw;
	transition: all 0.1s ease;

	&__content {
		opacity: 1;
		visibility: visible;
		overflow: hidden;
		height: 100px;
		text-align: center;
		font-size: 28px;
		line-height: 2.5rem;
		scroll-behavior: smooth;
		transition: opacity 0.15s ease;
	}
}

.input-box {
	border: none;
	outline: none;
	border-radius: 15px;
	background-color: var(--bg-primary);
	height: 50px;
	width: 20vw;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	color: var(--font-primary);
	font-family: inherit;

	&:focus {
		border-color: transparent;
		border: none;
		box-shadow: 0 0 0 2px var(--secondary);
	}
}

.active-char {
	color: var(--font-primary);
}

// ====> needs to be set after creating user preferences
// .current-word {
// 	// background-color: #ccc;
// }

// .correct-char {
// 	color: green;
// }

// .incorrect-char {
// 	color: red;
// }
