.setup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($color: #000000, $alpha: 0.35);
	padding: 5rem 15rem;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 1;

	opacity: 0;
	transition: all 0.2s ease;

	&__modal {
		display: grid;
		gap: 2rem;
		padding: 2rem;
		border-radius: 15px;

		background-color: var(--bg-primary);
		backdrop-filter: blur(5px);
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__title {
			text-align: center;
			color: var(--font-primary);
		}

		&__close {
			display: flex;
			background: transparent;
			border: none;
			font-size: 24px;
			color: var(--secondary);

			&:hover {
				cursor: pointer;
				color: var(--font-primary);
			}
		}

		&__content {
			border-bottom: 1px solid #000;
		}

		&__modes {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #000;
		}

		&__mode {
			color: var(--secondary);
			margin-bottom: -1px;
			width: 100%;
			text-align: center;
		}

		&__mode:hover {
			cursor: pointer;
			color: var(--font-primary);
		}

		&__footer {
			display: flex;
			flex-direction: row-reverse;
			gap: 1rem;

			&__btn {
				outline: 0;
				cursor: pointer;
				border: none;
				padding: 0.5rem;
				border-radius: 7px;
				color: var(--font-primary);
				font-weight: 400;
				font-size: 16px;
				transition: background 0.2s ease, color 0.2s ease,
					box-shadow 0.2s ease;
			}

			.apply-button {
				background-color: var(--alternate);
				color: var(--font-primary);
				&:hover {
					color: var(--bg-primary);
					background-color: var(--font-primary);
				}
			}

			.cancel-button {
				background-color: var(--font-primary);
				color: var(--bg-primary);
				&:hover {
					background-color: var(--alternate);
					color: var(--font-primary);
				}
			}
		}
	}

	&__mode--highlighted {
		border-bottom: 5px solid var(--secondary);
		color: var(--font-primary);
	}

	&__show {
		opacity: 1;

		&__modal {
			transform: translateY(0);
		}
	}
}

#setup-form {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
