.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14rem;
	padding: 0 1.25rem;

	&__left {
		color: var(--font-primary);
	}

	&__section {
		// display: flex;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		a {
			display: flex;
			align-items: center;
			gap: 0.3rem;
			color: var(--font-primary);
			border-radius: 10px;
			padding: 0.5rem 0.75rem;
			transition: all 0.1s linear;
			text-decoration: none;
			font-size: 18px;

			&:hover {
				background-color: var(--alternate);
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.3rem;
			padding: 0.5rem 0.75rem;
			color: var(--font-primary);
			border-radius: 10px;
			cursor: pointer;
			background-color: transparent;
			border: none;
			outline: none;
			transition: color 0.1s linear;
			font-size: 18px;

			&:hover {
				background-color: var(--alternate);
			}
		}
	}
}
