@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

.results {
    display: flex;
    // padding: 1rem;
    gap: 3rem;
    height: 3rem;

    &__time,
    &__wpm,
    &__acc,
    &__errors {
        display: flex;
        flex-direction: column;
        line-height: 1;
        text-align: center;
        font-size: 24px;
        color: var(--primary);
        // font-family: "Covered By Your Grace", cursive;

        span {
            color: var(--secondary);
        }
    }
}
