.home {
	display: grid;
	justify-items: center;
	gap: 2rem;

	.hidden {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease;
	}

	.invisible {
		display: none;
	}
}

.row {
	display: flex;
	justify-content: center;
	gap: 3rem;

	.modes-list {
		display: flex;
		background: #333;
		color: white;
		// border-radius: 4px;
		box-shadow: 0px 23px 30px -20px rgba(0, 0, 0, 0.4);
		list-style: none;
	}

	.modes-list > li {
		display: flex;
		align-items: center;
		padding: 20px 30px;
		// width: 24px;
		// height: 24px;
		cursor: pointer;
		color: rgba(255, 255, 255, 0.6);
		position: relative;
		transition: all 200ms ease-in-out;

		&:last-child {
			border-right: none;
		}

		&:hover {
			background: #444;
		}

		&.active {
			box-shadow: 0px -4px 0px #0097a7 inset;
			background-color: #222;
			color: rgba(255, 255, 255, 1);
		}
	}
}

.test-config {
	width: 100%;
}
