@font-face {
	font-family: "Bungee Shade";
	src: url("/fonts/BungeeShade-Regular.woff2") format("woff2");
}

#header {
	.navigation {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		gap: 1rem;
		color: var(--secondary);

		.icon {
			font-size: 2em;
			vertical-align: middle;
			line-height: 1;
		}

		&__settings,
		&__pages {
			display: flex;
		}

		button {
			padding: 0.3rem;
			color: var(--secondary);
			cursor: pointer;
			background-color: transparent;
			border: none;
			outline: none;
			transition: color 0.1s linear;

			&:hover {
				color: var(--font-primary);
			}
		}

		&__logo {
			text-align: center;
			font-family: "Bungee Shade";
			color: var(--bg-primary);
			&__title {
				text-wrap-mode: nowrap;
				font-family: inherit;
				font-size: 3em;
				line-height: 0;
				color: var(--primary);
				transition: color 0.3s;
			}

			.colorless {
				font-family: inherit;
				color: var(--secondary);
			}
		}

		&__home {
			color: var(--secondary);
			padding: 0.3rem;
			transition: color 0.1s linear;

			&:hover {
				color: var(--font-primary);
			}
		}
	}
}
