.text {
	color: var(--secondary);
	width: 100%;
	transition: all 0.1s ease;

	&__content {
		opacity: 1;
		visibility: visible;
		overflow: hidden;
		height: 150px;
		text-align: left;
		font-size: 36px;
		line-height: 2.5rem;
		scroll-behavior: smooth;
		transition: opacity 0.15s ease;
	}
}

.input-box {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	border: none;
	outline: none;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	color: var(--font-primary);
	font-family: inherit;
}

.active-char {
	color: var(--font-primary);
}
