.parflow {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease;
	height: 230px;

	&__content {
		opacity: 1;
		visibility: visible;
		filter: blur(5px);
		align-content: center;
		overflow: hidden;
		height: 150px;
		text-align: left;
		font-size: 28px;
		line-height: 1.75;
		scroll-behavior: smooth;
		transition: opacity 0.15s ease;
		outline: none;
		cursor: default;

		& > span {
			position: relative;
			display: inline-block;
			padding: 0 0.4rem;
			color: var(--secondary);
			z-index: 2;
		}
	}

	&:focus-within &__content {
		filter: blur(0);
		transition: all 0.25s ease;
	}

	&:not(:focus-within) &__content {
		transition: all 0.25s ease;
	}

	input {
		position: absolute;
		pointer-events: none;
		opacity: 0;
		border: none;
		outline: none;
	}

	input:focus ~ &__blurred {
		opacity: 0;
		pointer-events: none;
	}

	&__blurred {
		opacity: 1;
		position: absolute;
		display: flex;
		align-items: center;
		gap: 0.3rem;
		z-index: 1;
		pointer-events: none;
		color: var(--font-primary);
		font-size: 18px;
	}

	&__caret {
		position: absolute;
		width: var(--caret-width);
		height: var(--caret-height);
		background-color: var(--caret-bgc);
		animation: blink 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards
			infinite;
		border-radius: var(--caret-bradius);
		border: var(--caret-border);
		border-bottom: var(--caret-borderbtm);
		z-index: -1;
	}
}

.active-char {
	color: var(--highlight-char-type) !important;
}

.current-word {
	color: var(--highlight-word-type) !important;
}

.entered {
	color: var(--secondary) !important;

	&-char {
		color: var(--secondary) !important;
	}
}

.incorrect {
	color: var(--incorrect-color) !important;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
