.panel {
	display: flex;
	gap: 0.5rem;

	&__filters,
	&__rules,
	&__appearance {
		display: flex;
		align-items: center;
		color: var(--font-primary);
		padding: 0.5rem;
		border-radius: 10px;
		gap: 0.2rem;
		background-color: var(--alternate);
		transition: all 0.1s ease;

		> * {
			display: flex;
			opacity: 1;
			visibility: visible;
			transition:
				background 0.1 ease,
				color 0.1s ease,
				opacity 0.1s ease;
		}
	}

	.filter__value--highlighted,
	.filter--highlighted {
		color: var(--primary);
	}

	.splitter {
		height: 100%;
		width: 0.3em;
		background: var(--bg-primary);
		transition: 0.1s;
		border: none;
		border-radius: 10px;
	}

	button {
		display: inline-flex;
		background-color: transparent;
		border: none;
		outline: none;
		color: var(--secondary);
		font-size: 18px;
	}

	button:hover {
		color: var(--font-primary);
		cursor: pointer;
	}
}
